$tab: "(max-width: 767.98px)";
$white: #fff;
.hero_Banner {
    @media #{'(min-width: 1600px)'} {
      margin: 0 110px;
    }
  
    margin-top: 30px !important;
    border-radius: 10px;
    overflow: hidden;
  
    .banner_single {
      padding: 180px 30px 180px 30px;
      border-radius: 10px;
      background-size: cover;
      background-position: center center !important;
      border-radius: 10px;
  
      @media #{$tab} {
        padding: 60px 30px 60px 30px;
        background-position: left center !important;
      }
      .subtitle{
        font-size: 20px;
      }
      .slideTitle{
        font-size: 45px;
      }
      .banner__text {
        max-width: 576px;
        
        span {
          font-size: 140px;
          font-weight: 700;
          color: $white;
          display: block;
          text-transform: uppercase;
        }
  
        h3 {
          font-size: 50px;
          font-weight: 800;
          color: $white;
          line-height: 1.2;
          margin: 20px 0 23px 0;
  
          @media #{$tab} {
            font-size: 35px;
          }
        }
  
        h5 {
          font-size: 16px;
          color: $white;
          font-weight: 500;
          margin-bottom: 40px;
        }
      }
    }
  
    .swiper-pagination {
      display: flex;
      justify-content: center;
      grid-gap: 15px;
      position: absolute;
      align-items: center;
      bottom: 45px !important;
      left: 0;
      right: 0;
  
      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: rgb(0, 0, 0);
        display: inline-block;
        transition: 0.3s;
        position: relative;
        opacity: 0.8;
  
        &::before {
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border: 1px solid #fff;
          border-radius: 50%;
          left: -11px;
          top: -11px;
          transform: scale(0);
          transition: 0.3s;
        }
  
        &.swiper-pagination-bullet-active {
          width: 8px;
          height: 8px;
          background: #CF2202;
  
          &::before {
            opacity: 1;
            transform: scale(1);
            border-color: #CF2202;
          }
        }
      }
    }
  }
  
  // Add cart button 
.home22_addCard_btn {
    border-radius: 30px;
    transition: 0.3s;
    background: transparent;
    padding: 0 20px 0 0px;
    grid-gap: 10px;
  }
  
  .home22_addCard_btn .circle_icon {
    width: 40px;
    height: 40px;
    flex: 40px 0 0;
    background: #28af62;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
  }
  
  .home22_addCard_btn .circle_icon img {
    width: 15px;
  }
  
  .home22_addCard_btn h5 {
    transition: 0.3s;
  }
  
  .home22_addCard_btn:hover {
    background: #28af62;
    padding: 0 20px 0 8px;
    grid-gap: 0px;
  }
  
  .home22_addCard_btn:hover h5 {
    color: #fff;
  }
  